<div id="redmine-iine" style="display: none;">
  <%= link_to 'イイネ', '#', class: 'redmine-iine' %>
  <span><%= issue.iine_count %>件</span>
</div>

<script>
  $('.redmine-iine').on('click', function(e) {
    e.preventDefault();
    $.ajax({
      method: 'POST',
      url: '<%= iine_issue_path(issue) %>',
    });
  });

  $(function() {
    $('#redmine-iine').children().prependTo('#content .contextual');
  });
</script>
