<div id="redmine-iine" style="display: none;">
  <span class="redmine-iine-partial">
    <%== render partial: 'redmine_iine/iine', locals: { issue: issue } %>
  </span>
</div>

<script>
  $(document).on('click', '.redmine-iine', function(e) {
    e.preventDefault();
    $.ajax({
      method: 'POST',
      url: '<%= iine_issue_path(issue) %>',
    }).done(function(html) {
      $('.redmine-iine-partial').html(html);
    });
  });

  $(function() {
    $('#redmine-iine').children().prependTo('#content .contextual');
  });
</script>
